.hero {
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  & .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;

    & p {
      font-size: 1rem;
      color: rgb(85, 85, 85);
    }

    & span {
      font-size: 0.8rem;
      color: gray;
      margin-top: -10px;
    }
  }

  & .right {
    flex: 1;
    height: auto;

    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      border: 2px solid #c5c0c0;
      box-shadow: 1px 1px 5px 1px #c5c0c0;
    }
  }
}



@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}

