.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  border: 2px solid #c5c0c0;
  box-shadow: 1px 1px 5px 1px #c5c0c0;
}

.img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  border: 2px solid #c5c0c0;
  box-shadow: 1px 1px 5px 1px #c5c0c0;
  overflow: hidden;

  & .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }

  & img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a {
  color: teal;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: 0.3s;
    text-decoration: underline;
  }
}


@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}

