.post {
  margin: 0 auto;
  width: 65%;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  overflow: hidden;

  & .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0;
  }

  & img {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    border-radius: 10px;
  }
}


@media (max-width: 768px) {
  .post {
    width: 100%;

    & img {
      max-height: 40vh;
    }
  }
}

@media (max-width: 425px) {
  .post {
    width: 100%;

    & img {
      max-height: 40vh;
    }
  }
}

@media (max-width: 375px) {
  .post {
    width: 100%;

    & img {
      max-height: 40vh;
    }
  }
}
