header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 11rem;
  background: white;
  border-bottom: 2px solid teal;
  z-index: 1000;
}

@media (max-width: 1441px) {
  header {
    padding: 1rem 4rem;
  }
}

@media (max-width: 1281px) {
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 1rem 1rem;
  }
}

