footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem 11rem;
  border-top: 2px solid teal;
  border-bottom: 2px solid teal;

  & .logo a {
    color: black;
  }

  & nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    & a {
      display: inline-block;
    }
  }

  & article {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.copyright {
  font-size: 0.6rem;
  padding: 1rem 11rem;
  color: gray;
}

@media (max-width: 1441px) {
  .footer {
    padding: 3rem 4rem;
  }
  .copyright {
    padding: 1rem 4rem;
  }
}

@media (max-width: 1281px) {
  .footer {
    padding: 3rem 2rem;
  }
  .copyright {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 3rem 1rem;
  }
  .copyright {
    padding: 1rem 1rem;
  }
}

@media (max-width: 768px) {
  .footer {
    & nav {
      & a {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .footer {
    & nav {
      & a {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .footer {
    & nav {
      & a {
        font-size: 1.2rem;
      }
    }
  }
}
